{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}



    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Search by Student ID</h4>
                                </div>
                                <div class="card-block">
                                    <div class="active-purple-4 mb-4">
                                        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                                        <br>



                                            <script>
                                                function myFunction() {
                                              var x = document.getElementById("myDIV");
                                              if (x.style.visibility === "hidden") {
                                                x.style.visibility = "visible";
                                              } else {
                                                x.style.visibility = "hidden";
                                              }
                                            }
                                            </script>
                                        <button onclick="myFunction()" type="button" class="btn btn-square btn-primary">Search</button>



                                    </div>
                                    <div style="visibility: hidden;"  id="myDIV">
                                    <tr class="unread" id="myDIV">
                                                    <td><img class="rounded-circle" style="width:40px;" src="/static/assets/images/user/avatar-1.jpg" alt="activity-user"></td>
                                                    <td>
                                                        <h6 class="mb-1">Isabella Christensen</h6>
                                                        <p class="m-0">28741930</p>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td><a href="studentPage.html" class="label theme-bg2 text-white f-12">Profile</a></td>
                                                </tr>
                                        </div>

                                </div>

                            </div>

                        </div>

                    </div>
                    <!-- [ Main Content ] end -->

                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
